<div class="contact">
	<div class="contact-container">
		<h2>CONTACT</h2>
		<p>FIND US AT SOME ADDRESS AT SOME PLACE OR CALL US AT 05050515-122330</p>
		<p>
			<span class="fyi">FYI!</span>WE OFFER FULL-SERVICE CATERING FOR ANY EVENT, LARGE OR SMALL. WE UNDERSTAND YOUR NEEDS AND WE WILL CATER THE FOOD TO SATISFIY THE BIGGEST CRITERIAZ OF THEM ALL, BOTH LOOK AND TASTE.</p>
		<p>
			<span>RESERVE</span>
			A TABLE, ASK FOR TODAY'S SPECIAL OR JUST SEND US A MESSAGE:</p>
		<form action="" method="post">
			<div>
				<input type="text" placeholder="NAME" name="name">
			</div>
			<div>
				<input type="number" placeholder="HOW MANY PEOPLE" name="quantity">
			</div>
			<div>
				<input type="datetime-local" name="datetime">
			</div>
			<div>
				<input type="text" name="message" placeholder="MESSAGE \ SPECIAL REQUIREMENTS">
			</div>
			<div>
				<input type="submit" value="SEND MESSAGE" name="send">
			</div>
		</form>
	</div>
</div>
