<div class="menu">
	<h2>THE MENU</h2>
	<div class="menu-container">
		<div class="menu-sections">
			<div>PIZZA</div>
			<div>SALADS</div>
			<div>STARTER</div>
		</div>
		<div class="menu-details">
			<div>
				<div>MARGHERITA</div>
				<div>FRESH TOMATOES, FRESH MOZZARELLA, FRESH BASIL</div>
			</div>
			<div>$12.50</div>
		</div>

		<div class="menu-details">
			<div>
				<div>FORMAGGIO</div>
				<div>FOUR CHEESES (MOZZARELLA, PARMESAN, PECORINO, JARLSBERG)</div>
			</div>
			<div>$17.00</div>
		</div>

		<div class="menu-details">
			<div>
				<div>PINEAPPLE'O'CLOCK</div>
				<div>FRESH TOMATOES, MOZARRELLA, FRESH PINEAPPLE, BACON, FRESH BASIC</div>
			</div>
			<div>$16.50</div>
		</div>

		<div class="menu-details">
			<div>
				<div>MEAT TOWN <span class="hot">HOT!</span></div>
				<div>FRESH TOMATOES, MOZZARELLA, HOT PEPPORONI, HOt SAUSAGE, BEEF, CHICKEN</div>
			</div>
			<div>$20.00</div>
		</div>

		<div class="menu-details">
			<div>
				<div>PARMA <span class="new">NEW</span></div>
				<div>FRESH TOMATOES, MOZZARELLA, PARMA, BACON, FRESH ARUGULA</div>
			</div>
			<div>$21.50</div>
		</div>

	</div>
</div>
